.welcome{
    padding-top: 48px;

    .usernameTitle{
        font-size: 14px;
        line-height: 20px;
        color: #808080;
    }

    .backButton{
        float : "left";
        color:"red"; 
        cursor:"pointer";
    }
}
