@import "./variables";

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: $linkColour;
  text-decoration: none;
}

.mainTitle {
  font-size: 22px;
  line-height: 28px;
  padding-bottom: 24px;
  color: #000000;
}

textarea:focus, input:focus, button:focus{
  outline: none;
}

.container {
  padding: 0px 30px 0px 30px;
}

.commonLabels{
  font-size: 14px;
  color: #808080;
}

button {
  font-size: 16px;
  height: 38px;
  color: #FFFFFF;
  background-color: $buttonColour;
  padding: 8px 0px 8px 0px;
  margin: 12px 0px 12px 0px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}



.centerText {
  text-align: center;
}

